/* :root {
  --orange: #eb971b
} */

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

body {
  color: rgb(36, 36, 36);
}

#logo {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 30px;
  margin-bottom: 30px;
  background-color: #1d1f96;
}

#logo img {
  margin-left: 10px;
}

header h1 {
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#candidates {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-bottom: 50px;
}

#region {
  display: flex;
  width: 900px;
  height: max-content;
}

#region h3 {
  transform: translate(130px, 120px);
  font-size: 30px;
  height: max-content;
}

#region-bottom {
  /* background-color: #f8f8ff; */
  /* border: 3px solid #000277; */
  /* border-radius: 5px; */
  padding: 5px;
  width: 900px;
  height: max-content;
  text-align: center;
  margin-bottom: 100px;
}
