#logo {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 30px;
  margin-bottom: 30px;
  background-color: #1d1f96;
}

#logo img {
  margin-left: 10px;
}

header h1 {
  text-align: center;
}